@import "tailwindcss";

/* for toggling dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* apply dark styling for body */
body {
    @apply bg-white text-blue-950;

    @variant dark {
        @apply bg-blue-950 text-white;
    }
}

.toggle-btn {
    @apply border-gray-500 bg-blue-950 text-white px-6 py-3 rounded-2xl font-medium;

    @variant dark {
        @apply bg-white text-blue-950;
    }
}